{% extends 'base.html' %}

{% block main %}
<div style="background-color:#b6dfd9 ">
<h2 align="center"> Я и моя образовательная программа </h2>

<ul>
    {%for s in data%}
    {%if s.ФИО == "Бурлуцкая Александра Евгеньевна"%}
    <li>
        <h5> {{s.ФИО}}</h5>
        <img src = '{{s.Фото}}' width='170px'>
        <p> {{s.Почта}} </p>
        <p> {{s.Телефон}} </p>
    </li>
    {%endif%}
{% endfor %}
</ul>

<h5> <b> Название программы: </b> социология </h5>
<h5> <b> Описание программы: </b> научные исследования в социологии нужны, чтобы изучать и объяснять социальные явления, происходящие в разных областях жизни. </h5>
</div>
    <h2 align="center"> Руководитель </h2>
<ul>
    {%for s in data%}
    {%if s.ФИО == "Иванов Иван Иванович"%}
    <li>
        <h5> {{s.ФИО}}</h5>
        <img src = '{{s.Фото}}' width='170px'>
        <p> {{s.Почта}} </p>
    </li>
    {%endif%}
{% endfor %}
</ul>
<div style="background-color:#b6dfd9 ">
<h2 align="center"> Менеджер </h2>
<ul>
    {%for s in data%}
    {%if s.ФИО == "Петров Петр Петрович"%}
    <li>
        <h5> {{s.ФИО}}</h5>
        <img src = '{{s.Фото}}' width='170px'>
        <p> {{s.Почта}} </p>
    </li>
    {%endif%}
{% endfor %}
</ul>
</div>
<h2 align="center"> Мои сокурсники </h2>
<ul>
    {%for s in data%}
    {%if s.ФИО == "Васильев Василий Васильевич" or s.ФИО == "Сергеев Сергей Сергеевич"%}
    <li>
        <h5> {{s.ФИО}}</h5>
        <img src = '{{s.Фото}}' width='170px'>
        <p> {{s.Почта}} </p>
        <p> {{s.Телефон}} </p>
    </li>
    {%endif%}
{% endfor %}
</ul>
{% endblock %}